<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title th:text="#{createTitle}"></title>
    </head>
    <body>
        <header>
            <h2 th:text="#{createTitle}"></h2>
            <nav>
                <ul>
                    <li><a href="/" th:text="#{index}"></a></li>
                    <li><a href="/tasks" th:text="#{overview}"></a></li>
                    <li><a href="/tasks/new" th:text="#{newTask}"></a></li>
                    <li><a href="?lang=en" th:text="#{lang.en}"></a></li>
                    <li><a href="?lang=nl" th:text="#{lang.nl}"></a></li>
                </ul>
            </nav>
        </header>
        <article>
            <form method="POST" action="/tasks/create" >
                <ul>
                    <li>
                        <label for="title" th:text="#{title} + ':'"></label>
                        <input type="text" required name="title" id="title">
                    </li>
                    <li>
                        <label for="details" th:text="#{details} + ':'"></label>
                        <input type="text" required name="details" id="details">
                    </li>
                    <li>
                        <label for="dueDateTime" th:text="#{dueDate} + ':'"></label>
                        <input type="datetime-local" required name="dueDateTime" id="dueDateTime">
                    </li>
                    <li>
                    <input type="submit" th:value="#{submit}"/>
                    </li>
                </ul>
            </form>
        </article>
    </body>
</html>