<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Create new task</title>
    </head>
    <body>
        <header>
            <h2>New Task</h2>
            <nav>
                <ul>
                    <li><a href="/">Index</a></li>
                    <li><a href="/tasks">Task Overview</a></li>
                    <li><a href="/tasks/new">New Task</a></li>
                </ul>
            </nav>
        </header>
        <article>
            <form method="POST" action="/tasks/create" >
                <ul>
                    <li>
                        <label for="title">Title:</label>
                        <input type="text" required name="title" id="title">
                    </li>
                    <li>
                        <label for="details">Description:</label>
                        <input type="text" required name="details" id="details">
                    </li>
                    <li>
                        <label for="dueDateTime">Due date:</label>
                        <input type="datetime-local" required name="dueDateTime" id="dueDateTime">
                    </li>
                    <li>
                    <input type="submit" value="Submit" />
                    </li>
                </ul>
            </form>
        </article>
    </body>
</html>