<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title th:text="#{tasksTitle}"></title>
    </head>
    <body>
        <header>
            <h2 th:text="#{tasksTitle}"></h2>
            <nav>
                <ul>
                    <li><a href="/" th:text="#{index}"></a></li>
                    <li><a href="/tasks" th:text="#{overview}"></a></li>
                    <li><a href="/tasks/new" th:text="#{newTask}"></a></li>
                    <li><a href="?lang=en" th:text="#{lang.en}"></a></li>
                    <li><a href="?lang=nl" th:text="#{lang.nl}"></a></li>
                </ul>
            </nav>
        </header>
        <article>
            <section>
                <div>
                    <table>
                        <tr>
                            <th th:text="#{title}"></th>
                            <th th:text="#{dueDate}"></th>
                        </tr>
                        <tr th:if="${!tasks.isEmpty()}" th:each="task : ${tasks}">
                            <td th:text="*{task.title}"></td>
                            <td th:text="*{#temporals.format(task.getDueDateTime(), 'dd/MMM/yyyy HH:mm')}"></td>
                            <td><a th:href="*{'/tasks/' + task.id}" th:text="#{details}"></a></td>
                            <td><a th:href="*{'/tasks/' + task.id + '/sub/create'}" th:text="#{addSubtask}"></a></td>
                            <td><a th:href="*{'/tasks/edit/' + task.id}" th:text="#{editTask}"></a></td>
                        </tr>
                    </table>
                    <p th:if="${tasks.isEmpty()}" th:text="#{noTaskMessage}"></p>
                </div>
            </section>
        </article>
    </body>
</html>